
nav{
  box-shadow: 0 2px 4px 0 rgba(4, 245, 245, 0.2) !important;
  background-color: #212121;
  display: flex;
  align-items: center;
  height: 75px;
  padding:15px 25px;

}

body{
  background-color: #282828 !important;
}

.navbar > h1{
  color:deepskyblue;
  font-size: 28px;
  margin-right: auto;
}
.navbar > a{
  text-decoration: none;
  margin-left: 15px;
  font-size: 22px;
  color: aliceblue;
  margin-right: 30px;
  padding-bottom: 10px;
}

/* .rating{
  color:darkmagenta;
} */

.main{
  float:unset;
}

.card{
  background-color: #282828 !important;
  padding-left: 30px;
  padding-right: 30px;
}

.card-title{
  color:whitesmoke;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;}


.card-subtitle{
  font-size: 16px;
  color:aqua;
  font-family: 'PT Sans', sans-serif;
}

.images{
  float: right;
  width: 230px;
  height: 330px;
  padding: 5px;
  border-radius: 20px;
}

.list-group{
  list-style-type: none;
  border-radius: 2px;
  color: aliceblue;

}

.list-group-item{
  margin-top: -15px;
}

.li{
  padding: 12px;
  margin-left: 20px;

}

a.href:hover{
  color:rgb(216, 163, 236) !important;
}

.href{
font-family: 'Raleway', sans-serif;}

.navbar{
  font-family: 'Roboto Condensed', sans-serif;
}

a.li:hover{
  color: aquamarine !important;
}

.description{
  font-size: 20px;
  color: white;

}
.alignimg{
  display: flex;
}

h1{
  font-size: 42px !important;
}


button{
  margin-right: 15px !important;
  font-family: 'Lato', sans-serif !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 40 !important;
  box-shadow: aqua !important;
  padding: 8px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  font-size: 16px !important;

  
}

h5{
  padding-top: 25px;
}

.sort{
  color: aliceblue;
}

.sorting{
  padding: 0 !important;
  margin-left: 10px !important;
  background-color: #282828 !important;
  color: aliceblue !important;
  border-color: #282828 !important;;
}